/* Sebastián Loaiza Henao */
html{
	margin: 0px;
	margin-bottom: 0px;
}

.ocultar{
	display: none;
}

.mostrar{
	display: block;
}

body{
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #610B4B;
}

#pantalla_carga{
	background: url(../img/pantallacarga.png);
	background-repeat: no-repeat;
	height: 580px; 
}

#pantalla_introduccion{
	background: url(../img/fondo.png);
	background-repeat: no-repeat;
	height: 580px;
	/* display: none; */
}

#creditos{
	background-image: url(../img/Pantallas-creditos.png);
	background-repeat: no-repeat;
	height: 580px;
	display: none;
}

#ayuda{
	background-image: url(../img/fondo-ayuda.png);
	height: 580px;
	display: none;
}

#tools{
	padding-top: 105px;
	padding-left: 32px;
}

#coser{
	padding-left: 79px;
}

#btnInicioAyuda{
	padding-left: 145px;
}

.tamaños{
	width: 150px;
}

#historia_tortuga{
	display: none;
}

#historia_foca{
	display: none;
}

#historia_ballena{
	display: none;
}

#personaje{
	padding-left: 67px;
	padding-top: 90px;
}

#intro{
	font-family: Arial;
	margin: 25px;
	font-size: 14.55px;
	color: white;
	text-align: center;
}

#intro2{
	font-family: 'Arial Narrow';
	font-size: 12.04px;
	color: white;
	width: 130px;
	text-align: center;
	padding-left: 110px;
}

.button_tool_cred{
	position: absolute;				
	border:none;
	background:none;
	background-repeat: no-repeat;
	width:95px;
	/* border-radius:20px; */
	height:85px;
	margin-left: 48px;
}

#btnCreditos{
	padding-left: 35px;
}

.lblBotones{
	font-family: Arial;
	font-size: 13px;
	color: white;
}

#lblCreditos{
	padding-left: 55px;
}

#lblAyuda{
	padding-left: 57px;
}

#lblJugar{
	padding-left: 61px;
}

#lblInicioAyuda{
	padding-left: 168px;
	display: block;
}

#diseñadora{
	font-family: Arial;
	font-size: 20px;
	color: white;
	padding-top: 145px;
	text-align: center;
}

#desarrolladores{
	font-family: Arial;
	font-size: 20px;
	color: white;
	text-align: center;
}

#btnInicioCred{
	padding-top: 60px;
	padding-left: 135px;

}

#lblInicioCred{
	padding-left: 156px;
}

span{
	position: absolute;
	right: 40px;
	top: 12px;
	font-family: Arial;
	color: white;
	font-weight: bold;
}

#historia_tortuga{
	background: url(../img/Fondo-tortuga.png);
	background-repeat: no-repeat;
	height: 580px;
}

#historia_foca{
	background: url(../img/Fondo-foca.png);
	background-repeat: no-repeat;
	height: 580px;
}

#historia_ballena{
	background: url(../img/fondo-ballena.png);
	background-repeat: no-repeat;
	height: 580px;
}

#btnInicioHist{
	padding-top: 10px;
	padding-left: 20px;
}

#btnVolverHist{
	padding-top: 10px;
	padding-left: 170px;
}

.txtHistorias1{
	padding-top: 5px;
	font-family: Arial;
	font-size: 13.37px;
	color: #333333;
	text-align: justify;
	margin: 30px;
}

.txtHistorias2{
	padding-top: 5px;
	font-family: 'Arial Narrow';
	font-size: 12.4px;
	color: #4D4D4D;
	text-align: center;
	margin: 30px;
	font-style: oblique;
}

#lightbox{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}

#lightboxPerdiste{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}

#ventanaModal{
	/* padding-top: 135px; */
	height: 224px;
	background-image: url(../img/Fondo-pausa.png);
	background-repeat: no-repeat;
}

#ventanaPerdiste{
	padding-top: 160px;
	height: 128px;
	background-image: url(../img/Fondo-perdiste.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 310px;
	top: 90px;
	left: 30px;
}

#play_pausa{
	padding-top: 43px;
	padding-left: 5px;
}

#reinicio_pausa{
	padding-top: 43px;
	/* padding-left: 5px; */
}

#inicio_perdiste{
	padding-left: 10px;
}

#reinicio_perdiste{
	padding-left: 90px;
}

#home_pausa{
	padding-top: 43px;
	width: 114px;
}

#btnCerrar{
	width: 70px;
	height: 30px;

}

/* Juan José Brand Londoño */

.juego{
	background-image: url("../img/Fondo-juego.png");
	height: 580px;
	width: 360px;
	position: absolute;
	display: none;
}
.menu{
	height: 73px;
	width: 360px;
	position: absolute;
}

.inicio{
	width:78px;
	height:60px;
	padding-left: 20px;
	padding-top:20px;
}

.btnInicio{
	position: absolute;
   top: 5px;
   left: 8px;
}

.btnPausa{
    position: absolute;
    top: 5px;
    left: 278px;
}

.puntaje{
	background-image: url("../img/Boton-puntaje.png");
	left: 183px;
}

.tiempo{
	background-image: url("../img/Boton-tiempo.png");
	left: 91px;
}

.indicadores{
	position: absolute;
	display: inline-block;
	background-repeat: no-repeat;
    height: 55px;
    width: 100px;
	top: 21px;
}

.valores{
	position: absolute;
	left: 20px;
    top: 12px;
}

.camilla{
	position: absolute;
    top: 93px;
    left: 52px;
    width: 258px;
    height: 349px;
    border-radius: 59px 25px 41px 22px;
    background-repeat: no-repeat;
}

.buttonsTools{
	position: absolute;
	top: 471px;
	height: 109px;;
}

.buttons_tools1{
	position: absolute;
	/* top: 0px; */
}

.buttons_tools2{
	position: absolute;
	top: 45px;
}
.button_tool{
	position: absolute;
	background:none;
	border: none;
    height: 55px;
    width: 74px;
	display: inline;
}
#button1{
    background-image:  url("../img/Boton-bistiru.png");
	background-repeat: no-repeat;
	left:32px;
}
#button2{
	background-image:  url("../img/Boton-coser.png");
	background-repeat: no-repeat;
	left:143px;
}
#button3{
	background-image:  url("../img/Boton-crema.png");
	background-repeat: no-repeat;
	left:254px;
}
#button4{
	background-image:  url("../img/boton-encendedor.png");
	background-repeat: no-repeat;
	left:83px;
}
#button5{
	background-image:  url("../img/Boton-pinzas.png");
	background-repeat: no-repeat;
	left:193px;
}

.btnsHeridas{
	margin: 5px;
	background:none;
	border:none;
}

.heridasTortuga{
    position: absolute;
    left: 19px;
    top: 77px;
    width: 188px;
    height: 186px;
    border-radius: 63px 69px 79px 88px;

}
.heridasFoca{
	position: absolute;
    left: 51px;
    top: 12px;
    width: 71px;
    height: 186px;
    border-radius: 24px 22px 20px 47px;
}
.heridasBallena{
    position: absolute;
    left: 12px;
    top: 10px;
    width: 159px;
    height: 186px;
    border-radius: 67px 72px 7px 140px;
}


















