/* Sebastián Loaiza Henao */
html{
	margin: 0px;
}


body{
	margin: 0px;
	padding: 0px;
}


/* Juan José Brand Londoño */

.juego{
	background-image: url("../img/Fondo-juego.png");
	height: 580px;
	width: 360px;
	position: absolute;
}

.menu{
	height: 73px;
	width: 360px;
	position: absolute;
}

.btnInicio{
 	position: absolute;
    top: 5px;
    left: 8px;
}

.btnPausa{
    position: absolute;
    top: 5px;
    left: 278px;
}
.indicadores{
	position: absolute;
	display: inline-block;
	background-repeat: no-repeat;
    height: 48px;
    width: 89px;
	top: 21px;
}

.puntaje{
	background-image: url("../img/Boton-puntaje.png");
	left: 183px;
}
.tiempo{
	background-image: url("../img/Boton-tiempo.png");
	left: 91px;
}

.valores{
	position: absolute;
	left: 20px;
    top: 12px;
}

.camilla{
	position: absolute;
    top: 93px;
    left: 52px;
    width: 258px;
    height: 349px;
    border-radius: 59px 25px 41px 22px;
    background-repeat: no-repeat;
}

.buttons_tools1{
	position: absolute;
	top: 0px;
}
.buttons_tools2{
	position: absolute;
	top: 45px;
}
.button_tool{
	position: absolute;
	background:none;
	border: none;
    height: 55px;
    width: 74px;
	display: inline;
}
#button1{
    background-image:  url("../img/Boton-bistiru.png");
	background-repeat: no-repeat;
	left:32px;
}
#button2{
	background-image:  url("../img/Boton-coser.png");
	background-repeat: no-repeat;
	left:143px;
}
#button3{
	background-image:  url("../img/Boton-crema.png");
	background-repeat: no-repeat;
	left:254px;
}
#button4{
	background-image:  url("../img/boton-encendedor.png");
	background-repeat: no-repeat;
	left:83px;
}
#button5{
	background-image:  url("../img/Boton-pinzas.png");
	background-repeat: no-repeat;
	left:193px;
}

.buttonsTools{
	position: absolute;
	top: 471px;
	height: 115px;;
}

.btnPinzas{
	padding-left:32px;
}

.btnEncendedor{
	padding-left: 45px;
}

.btnCoser{
	padding-left: 45px;
}

.btnCrema{
	padding-left: 90px;
}

.btnBisturi{
	padding-left: 45px;
}

.tortuga{
	background-image: url("../img/Tortuga.png");
}
.ballena{
	background-image: url("../img/Ballena.png");
}
.foca{
	background-image: url("../img/Foca.png");
}
.btnsHeridas{
	margin: 5px;
	background:none;
	border:none;
}

.heridasTortuga{
    position: absolute;
    left: 19px;
    top: 77px;
    width: 188px;
    height: 186px;
    border-radius: 63px 69px 79px 88px;

}
.heridasFoca{
	position: absolute;
    left: 51px;
    top: 12px;
    width: 71px;
    height: 186px;
    border-radius: 24px 22px 20px 47px;
}
.heridasBallena{
    position: absolute;
    left: 12px;
    top: 10px;
    width: 159px;
    height: 186px;
    border-radius: 67px 72px 7px 140px;
}
